$xs: "only screen and (min-width: 450px)";
$sm: "only screen and (min-width: 640px)";
$md: "only screen and (min-width: 768px)";
$tablet: "only screen and (min-width: 960px)";
$lg: "only screen and (min-width: 1024px)";
$xl: "only screen and (min-width: 1280px)";
$xxl: "only screen and (min-width: 1536px)";

@import url("//hello.myfonts.net/count/31b299");

@font-face {
    font-family: "Planer-ExtraBold";
    src: url("/webfonts/31B299_1_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-ExtraBoldItalic";
    src: url("/webfonts/31B299_2_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-Bold";
    src: url("/webfonts/31B299_4_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-Medium";
    src: url("/webfonts/31B299_7_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-DemiBoldItalic";
    src: url("/webfonts/31B299_C_0.ttf") format("truetype");
}

.fontMedium {
    font-family: "Planer-Medium";
}

.fontBold {
    font-family: "Planer-Bold";
}

.fontDemiBoldItalic {
    font-family: "Planer-DemiBoldItalic";
}

.fontExtraBold {
    font-family: "Planer-ExtraBold";
}

.fontExtraBoldItalic {
    font-family: "Planer-ExtraBoldItalic";
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #d3e8f4;
}

td,
th {
    border: 1px solid black;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$tablet} {
        margin-bottom: 3rem;
    }
}

main {
    width: 100%;
    max-width: 960px;
    height: 100%;
    padding-bottom: 20rem;

    @media #{$tablet} {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        margin-top: 3rem;
    }

    .main-title {
        position: absolute;
        left: 50%;
        top: 3%;
        transform: translateX(-50%);
        z-index: 10;
        text-align: center;
        color: #13647a;
        font-size: 1rem;
        margin-top: -1rem;

        @media #{$xs} {
            font-size: 1.4rem;
        }

        @media #{$md} {
            font-size: 1.8rem;
        }

        @media #{$tablet} {
            font-size: 3rem;
            top: 12%;
        }
    }

    .main__content {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
        inset: 0px;
        padding: 0 0.5rem;
        width: 100%;
        max-width: 960px;
        margin-top: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @media #{$tablet} {
            margin-top: 600px;
        }

        .main__content-button {
            width: 50%;
            max-width: 400px;
        }

        p {
            padding: 0 1rem;
            font-size: 1.2rem;
            text-align: center;
            margin-top: 1rem;
            font-size: 0.8rem;

            @media #{$md} {
                font-size: 1.4rem;
            }
        }

        .main__content-container {
            width: 100%;
            height: 100%;
            margin-bottom: 6rem;

            .main__content-container-buttons {
                width: 100%;
                padding-inline: 2rem;
                margin-top: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3rem;
            }
            button {
                margin-top: 2rem;
                width: 100%;
                max-width: 300px;
                padding: 0.25rem 0;
                border-radius: 2rem;
                font-size: 0.8rem;
                cursor: pointer;

                @media #{$xs} {
                    font-size: 1rem;
                }

                @media #{$md} {
                    font-size: 1.2rem;
                }
            }
            .main__content-container-button-back {
                background: #e3f6fc;
                border: 3px solid #78909c;
                color: #78909c;
            }

            .main__content-container-button-save {
                background: #14a351;
                border: 3px solid white;
                color: white;

                &:disabled {
                    background: #8caab5;
                    cursor: not-allowed;
                }
            }
        }
    }
}

.draggable-markup {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;

    @media #{$md} {
        font-size: 1rem;
    }

    div {
        position: relative;
        width: 100%;
        height: 3rem;
        display: grid;
        place-items: center;

        .sled-image {
            position: absolute;
            width: 150%;
            height: auto;
        }
    }
}

.charity__content {
    width: 100%;
    position: relative;
    margin-top: 3rem;

    h2 {
        width: 100%;
        text-align: end;
        padding-right: 1rem;
        font-size: 1.2rem;
        color: #26c6da;

        @media #{$xs} {
            font-size: 2rem;
        }

        @media #{$md} {
            font-size: 3rem;
        }
    }

    .charity__content-main {
        position: absolute;
        width: 100%;
        top: 20%;
        padding-inline: 1rem;

        @media #{$xs} {
            padding-inline: 1.2rem;
            top: 28%;
        }

        @media #{$md} {
            padding-inline: 1.5rem;
            top: 35%;
        }

        @media #{$tablet} {
            padding-inline: 2rem;
        }

        .dnd-context {
            display: flex;
            justify-content: space-between;

            .droppable {
                width: 100%;
            }
        }

        .charity__content-main-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            gap: 0.2rem;
            margin-top: -10px;

            @media #{$xs} {
                margin-top: 5px;
                gap: 0.5rem;
            }

            @media #{$md} {
                margin-top: 10px;
                gap: 1rem;
            }

            p {
                font-size: 0.7rem;

                @media #{$xs} {
                    font-size: 1rem;
                }

                @media #{$md} {
                    font-size: 1.5rem;
                }
            }

            img,
            a {
                width: 20px;
                height: 20px;
                cursor: pointer;

                @media #{$xs} {
                    width: 35px;
                    height: 35px;
                }

                @media #{$md} {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 30;

    .popup__content {
        position: absolute;
        left: 50% !important;
        top: 10vh;
        width: 90vw;
        transform: translateX(-50%);
        max-width: 900px;
        background: #06283ed9;
        border-radius: 2rem;
        padding: 1.5rem;
        color: white;

        @media #{$xs} {
            padding: 3rem;
        }

        @media #{$md} {
            min-height: 50vh;
        }

        button {
            width: 35px !important;
            height: 35px;
            display: grid;
            place-items: center;
            background: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            top: -1rem;
            right: 1rem;
        }

        h1 {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 1rem;
            color: white;
            margin-top: 2rem;
            @media #{$xs} {
                font-size: 1.5rem;
            }
            @media #{$md} {
                font-size: 2rem;
            }
        }

        p {
            font-size: 0.5rem;
            @media #{$xs} {
                font-size: 0.8rem;
            }

            @media #{$md} {
                font-size: 1.2rem;
            }
        }
    }
}
