@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("//hello.myfonts.net/count/31b299");

@font-face {
    font-family: "Planer-ExtraLightItalic";
    src: url("/webfonts/31B299_0_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-ExtraBold";
    src: url("/webfonts/31B299_1_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-ExtraBoldItalic";
    src: url("/webfonts/31B299_2_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-ExtraLight";
    src: url("/webfonts/31B299_3_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-Bold";
    src: url("/webfonts/31B299_4_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-Regular";
    src: url("/webfonts/31B299_5_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-Light";
    src: url("/webfonts/31B299_6_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-Medium";
    src: url("/webfonts/31B299_7_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-LightItalic";
    src: url("/webfonts/31B299_8_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-Italic";
    src: url("/webfonts/31B299_9_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-BoldItalic";
    src: url("/webfonts/31B299_A_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-DemiBold";
    src: url("/webfonts/31B299_B_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-DemiBoldItalic";
    src: url("/webfonts/31B299_C_0.ttf") format("truetype");
}

@font-face {
    font-family: "Planer-MediumItalic";
    src: url("/webfonts/31B299_D_0.ttf") format("truetype");
}

.title {
    font-family: "Planer-Medium";
}

.button {
    font-family: "Planer-Bold";
}

.ft {
    font-family: "Planer-DemiBoldItalic";
}

.value {
    font-family: "Planer-ExtraBold";
}

.boldItalic {
    font-family: "Planer-ExtraBoldItalic";
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #d3e8f4;
}

td,
th {
    border: 1px solid black;
}
